<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
    <link rel="shortcut icon" href="{{ "img/favicon.ico"|url }}">
    <link rel="stylesheet" href="{{ "css/reset.css"|url }}" media="all">
    <link rel="stylesheet" href="{{ "css/theme.css"|url }}" media="all">
    <link rel="stylesheet" href="{{ "css/print.css"|url }}" media="print">
    <style type="text/css" media="all">
        body {
            background: repeating-conic-gradient(#DEDEDE {{[71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82]|random}}deg 23%, white 0deg 25%);
            background-size: 40px 40px;
        }
        
    </style>
    {% block extra_head %}
    {% endblock  %}
</head>

<body class="page baseline--off">
    <header class="header">
        <h1 class="header__title"><a href="{{ nav.homepage.url|url }}">{{ config.site_name }}</a>{{ config.site_author }}</h1>
        <nav class="header__nav">
            <ul class="header__menu">
                <li class="header__section"><a href="{{config.extra.social.0.link}}">ig</a></li>
                <li class="header__section"><a href="{{config.repo_url}}">git</a></li>
            </ul>
        </nav>
        {% if page.next_page or page.previous_page %}
        <div class="header__menu">
            <div class="header__section">
                {% if page.previous_page %}
                <a href="{{ page.previous_page.url|url }}" title="{{ page.previous_page.title }}">&#8592;</a>
                {% else %}
                &#8592;
                {% endif %}
            </div>
            <div class="header__section">
                {% if page.next_page %}
                <a href="{{ page.next_page.url|url }}" title="{{ page.next_page.title }}"/>&#8594;</a>
                {% else %}
                &#8594;
                {% endif %}
            </div>
        </div>
        {% endif %}
    </header>

    {#

    <div class="page__sidebar">
        <header class="header"><a href="{{ nav.homepage.url|url }}">{{ config.site_name }}</a></header>
        <nav>
            <ul class="menu">
                {% for nav_item in nav %}
                {% include "nav.html" %}
                {% endfor %}
            </ul>
        </nav>
    </div> 
            {%- include "breadcrumbs.html" %}
    #}

    <main class="page__main">
        <nav class="page__treenav treenav">
            <ul id="toc">
                {% for toc_item in page.toc %}
                    <!--<li><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>-->
                    <li class="toc_item"><a href="{{ toc_item.url }}">Return to top</a></li>
                    {% for toc_item in toc_item.children %}
                        <li class="toc_item"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                    {% endfor %}
                {% endfor %}
            </ul>
            <ul id="menu">
            {% for nav_item in nav %}
            {% include "nav.html" %}
            {% endfor %}
            </ul>
        </nav>

        <article class="article">
            <!--<header class="article__header">-->
                <!--<h1 class="article__title">{{ page.meta.title }}</h1>-->
                <!--<div class="article__prompt">{{ page.meta.prompt }}</div>-->

                <!--<figure class="article__poster">-->
                    <!--<img src="{{ page.meta.thumb }}" alt=""/>-->
                    <!--<figcaption>{{ page.meta.caption|default("") }}</figcaption>-->
                <!--</figure>-->
            <!--</header>-->

            <div class="article__content">
                <!-- <img src="{{ "img/philo.svg"|url }}"/> -->
                {% block content %}
                {{ page.content }}
                {% endblock %}
            </div>
        </article>
    </main>
    <!-- <style type="text/css" media="screen"> -->
    <!--     .treenav{ -->
    <!--       /* Your sidebar styles */ -->
    <!--       position: sticky; -->
    <!--       top: calc(100vh - var(--sidebar-height)); -->
    <!--     } -->

    <!--     .article { -->
    <!--       /* Your main content styles */ -->
    <!--       flex-grow: 1; -->
    <!--     } -->
    <!-- </style> -->
    <!-- <script charset="utf-8"> -->
    <!--     window.addEventListener('DOMContentLoaded', function() { -->
    <!--         var sidebar = document.querySelector('.treenav'); -->
    <!--         // Set the sidebar height as a CSS variable -->
    <!--         sidebar.style.setProperty('--sidebar-height', sidebar.getBoundingClientRect().height + 'px'); -->
    <!--     }); -->
    <!-- </script> -->

</body>
</html>

