@font-face{
    font-family: "FluxischElse";
    /*src: url("/files/fonts/FluxischElse-Regular.woff");*/
    src: url("fonts/FluxischElse-Regular.woff");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "FluxischElse";
    src: url("fonts/FluxischElse-Light.woff");
    font-style: italic;
    font-weight: normal;
}

@font-face{
    font-family: "FluxischElse";
    src: url("fonts/FluxischElse-Bold.woff");
    font-style: normal;
    font-weight: bold;
}

@font-face{
    font-family: "AX28";
    src: url("files/fonts/AX28ScriptSpiro.woff");
}

:root{
  --md-text-font:"FluxischElse";
  --md-primary-fg-color: red !important;
  --md-primary-fg-color--light: blue !important;
  --md-primary-fg-color--dark:  pink !important;
}
body {
    font-family: "FluxischElse" !important;
    background:  repeating-conic-gradient(yellow 75deg 25%, white 0deg 45%, #EEE 21deg 55%);
    background-size: 40px 40px;

}

p {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1.25em;
    font-size: 1.25em;
}
