@font-face {
  font-family: 'Terminal Grotesque';
  src: url('../fonts/terminal-grotesquewebfont.woff');
  font-weight: normal;
  font-style: normal;
}

@page {
    size: 148mm 210mm;
    margin-top: 20mm;
  margin-bottom: 25mm;
}
@page:left {
    margin-left: 15mm;
  margin-right: 20mm;
    @bottom-right {
    content: counter(page);
    color: var(--color-2);
  }
  @top-right {
    content: "Strip-p-ed out";
    color: var(--color-2);
  }
}

@page:right {
  margin-left: 20mm;
  margin-right: 15mm;
  @bottom-left {
    content: counter(page);
    color: var(--color-2);
  }
  @top-left {
    content: string(title);
    color: var(--color-2);
  }
}
@page :first {
  @bottom-right {
    content: "";
  }
  @top-right {
    content: "";
  }
  @bottom-left {
    content: "";
  }
  @top-left {
    content: "";
  }
}

@page :nth(111) {
  @bottom-right {
    content: "";
  }
  @top-right {
    content: "";
  }
  @bottom-left {
    content: "";
  }
  @top-left {
    content: "";
  }
}

@page :nth(112) {
  @bottom-right {
    content: "";
  }
  @top-right {
    content: "";
  }
  @bottom-left {
    content: "";
  }
  @top-left {
    content: "";
  }
}

@page chapter {
  @bottom-right {
    content: "";
  }
  @top-right {
    content: "";
  }
  @bottom-left {
    content: "";
  }
  @top-left {
    content: "";
  }
}


@page chapter {
  @bottom-right {
    content: "";
  }
  @top-right {
    content: "";
  }
  @bottom-left {
    content: "";
  }
  @top-left {
    content: "";
  }
}

:root {
    --font-size: 12px; 
    --line-height: 17px; 
    font-family: "Terminal Grotesque";
}

body {
    font-family: "Terminal Grotesque";
}

nav,
header {
    display: none !important;
}

.baseline,
h2:after,
article,
.toc_item a,
body {
    background: none !important;
    background-image: none !important;
}

article {
    padding: 0 !important;
}
article.article {
    width: 100%;
}

h2 {
    page-break-before: always;
    page-break-after: always;
    string-set: title content(text);
    font-size: 2em;
    line-height: 1.25em;
    text-align: center;
    width: 9em;
    margin: auto;
    margin-top: 5em;
    page: chapter;
}

h1 {
    margin-top: 25em;
}



code {
    font-size: 0.75em;
}

blockquote {
    margin: 0 !important;
}

hr + blockquote {
    margin-top: var(--line-height) !important;
}

details {
    padding: 0 !important;
}

.headerlink {
    display: none;
}
.headerlink:after {
    content: "";
}

figure {
    max-width: 28% !important;
}

a {
    word-wrap: break-word;
}

dl {
    /* IT DISAPPEARS, WEEEEIRD*/
break-inside: avoid;
page-break-inside: avoid;
}

#cover {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 85mm;
    text-align: center;
}

#cover h1 {
    width: 100%;
    text-align: center;
    margin-top: 7em !important;
    margin-bottom: 0;
}

#colophon {
    column-count: 2;
    column-gap: var(--line-height);
}

p a::after {
  content: " (" attr(href) ")";
  font-size: 0.65em;
  vertical-align: 4px;
  line-height: 0;
  color: var(--color-2);
}


