/* slidy.css

   Copyright (c) 2005-2010 W3C (MIT, ERCIM, Keio), All Rights Reserved.
   W3C liability, trademark, document use and software licensing
   rules apply, see:

   http://www.w3.org/Consortium/Legal/copyright-documents
   http://www.w3.org/Consortium/Legal/copyright-software
*/
body.slidy 
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  color: black;
  background-color: white;
  font-family: "Gill Sans MT", "Gill Sans", GillSans, sans-serif;
  font-size: 14pt;
}

body.slidy div.toolbar {
  position: fixed; z-index: 200;
  top: auto; bottom: 0; left: 0; right: 0;
  height: 1.2em; text-align: right;
  padding-left: 1em;
  padding-right: 1em; 
  font-size: 60%;
  color: red;
  background-color: rgb(240,240,240);
  border-top: solid 1px rgb(180,180,180);
}

body.slidy div.toolbar span.copyright {
  color: black;
  margin-left: 0.5em;
}

body.slidy div.initial_prompt {
  position: absolute;
  z-index: 1000;
  bottom: 1.2em;
  width: 100%;
  background-color: rgb(200,200,200);
  opacity: 0.35;
  background-color: rgba(200,200,200, 0.35);
  cursor: pointer;
}

body.slidy div.initial_prompt p.help {
  text-align: center;
}

body.slidy div.initial_prompt p.close {
  text-align: right;
  font-style: italic;
}

body.slidy div.slidy_toc {
  position: absolute;
  z-index: 300;
  width: 60%;
  max-width: 30em;
  height: 30em;
  overflow: auto;
  top: auto;
  right: auto;
  left: 4em;
  bottom: 4em;
  padding: 1em;
  background: rgb(240,240,240);
  border-style: solid;
  border-width: 2px;
  font-size: 60%;
}

body.slidy div.slidy_toc .toc_heading {
  text-align: center;
  width: 100%;
  margin: 0;
  margin-bottom: 1em;
  border-bottom-style: solid;
  border-bottom-color: rgb(180,180,180);
  border-bottom-width: 1px;
}

body.slidy div.slide {
  z-index: 20;
  margin: 0 0 0 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 0;
  clear: both;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 120%;
  background-color: transparent;
}

body.slidy div.background {
  display: none;
}

body.slidy div.handout {
  margin-left: 20px;
  margin-right: 20px;
}

body.slidy div.slide.titlepage {
  text-align: center;
}

body.slidy div.slide.titlepage h1 {
  padding-top: 10%;
  margin-right: 0;
}

body.slidy div.slide h1 {
  padding-left: 0;
  padding-right: 20pt;
  padding-top: 4pt;
  padding-bottom: 4pt;
  margin-top: 0;
  margin-left: 0;
  margin-right: 60pt;
  margin-bottom: 0.5em;
  display: block; 
  font-size: 160%;
  line-height: 1.2em;
  background: transparent;
}

@media screen and (max-device-width: 1024px)
{
  body.slidy div.slide { font-size: 100%; }
}

@media screen and (max-device-width: 800px)
{
  body.slidy div.slide { font-size: 200%; }
  body.slidy div.slidy_toc {
    top: 1em;
    left: 1em;
    right: auto;
    width: 80%;
    font-size: 180%;
  }
}

body.slidy div.toc-heading {
  width: 100%;
  border-bottom: solid 1px rgb(180,180,180);
  margin-bottom: 1em;
  text-align: center;
}

body.slidy img {
  image-rendering: optimize-quality;
}

body.slidy pre {
 font-size: 80%;
 font-weight: bold;
 line-height: 120%;
 padding-top: 0.2em;
 padding-bottom: 0.2em;
 padding-left: 1em;
 padding-right: 1em;
 border-style: solid;
 border-left-width: 1em;
 border-top-width: thin;
 border-right-width: thin;
 border-bottom-width: thin;
 border-color: #95ABD0;
 color: #00428C;
 background-color: #E4E5E7;
}

body.slidy li pre { margin-left: 0; }

body.slidy blockquote { font-style: italic }

body.slidy img { background-color: transparent }

body.slidy p.copyright { font-size: smaller }

body.slidy .center { text-align: center }
body.slidy .footnote { font-size: smaller; margin-left: 2em; }

body.slidy a img { border-width: 0; border-style: none }

body.slidy a:visited { color: navy }
body.slidy a:link { color: navy }
body.slidy a:hover { color: red; text-decoration: underline }
body.slidy a:active { color: red; text-decoration: underline }

body.slidy a {text-decoration: none}
body.slidy .toolbar a:link {color: blue}
body.slidy .toolbar a:visited {color: blue}
body.slidy .toolbar a:active {color: red}
body.slidy .toolbar a:hover {color: red}

body.slidy ul { list-style-type: square; }
body.slidy ul ul { list-style-type: disc; }
body.slidy ul ul ul { list-style-type: circle; }
body.slidy ul ul ul ul { list-style-type: disc; }
body.slidy li { margin-left: 0.5em; margin-top: 0.5em; }
body.slidy li li { font-size: 85%; font-style: italic }
body.slidy li li li { font-size: 85%; font-style: normal }

body.slidy div dt
{
  margin-left: 0;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
}
body.slidy div dd
{
  margin-left: 2em;
  margin-bottom: 0.5em;
}


body.slidy p,
body.slidy pre,
body.slidy ul,
body.slidy ol,
body.slidy blockquote,
body.slidy h2,
body.slidy h3,
body.slidy h4,
body.slidy h5,
body.slidy h6,
body.slidy dl,
body.slidy table {
  margin-left: 1em;
  margin-right: 1em;
}

body.slidy p.subhead { font-weight: bold; margin-top: 2em; }

body.slidy .smaller { font-size: smaller }
body.slidy .bigger { font-size: 130% }

body.slidy td,body.slidy th { padding: 0.2em }

body.slidy ul {
  margin: 0.5em 1.5em 0.5em 1.5em;
  padding: 0;
}

body.slidy ol {
  margin: 0.5em 1.5em 0.5em 1.5em;
  padding: 0;
}

body.slidy ul { list-style-type: square; }
body.slidy ul ul { list-style-type: disc; }
body.slidy ul ul ul { list-style-type: circle; }
body.slidy ul ul ul ul { list-style-type: disc; }

body.slidy ul li { 
  list-style: square;
  margin: 0.1em 0em 0.6em 0;
  padding: 0 0 0 0;
  line-height: 140%;
}

body.slidy ol li { 
  margin: 0.1em 0em 0.6em 1.5em;
  padding: 0 0 0 0px;
  line-height: 140%;
  list-style-type: decimal;
}

body.slidy li ul li { 
  font-size: 85%; 
  font-style: italic;
  list-style-type: disc;
  background: transparent;
  padding: 0 0 0 0;
}
body.slidy li li ul li { 
  font-size: 85%; 
  font-style: normal;
  list-style-type: circle;
  background: transparent;
  padding: 0 0 0 0;
}
body.slidy li li li ul li {
  list-style-type: disc;
  background: transparent;
  padding: 0 0 0 0;
}

body.slidy li ol li {
  list-style-type: decimal;
}


body.slidy li li ol li {
  list-style-type: decimal;
}

/*
 setting class="outline on ol or ul makes it behave as an
 ouline list where blocklevel content in li elements is
 hidden by default and can be expanded or collapsed with
 mouse click. Set class="expand" on li to override default
*/

body.slidy ol.outline li:hover { cursor: pointer }
body.slidy ol.outline li.nofold:hover { cursor: default }

body.slidy ul.outline li:hover { cursor: pointer }
body.slidy ul.outline li.nofold:hover { cursor: default }

body.slidy ol.outline { list-style:decimal; }
body.slidy ol.outline ol { list-style-type:lower-alpha }

body.slidy ol.outline li.nofold {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/nofold-dim.gif) no-repeat 0px 0.5em;
}
body.slidy ol.outline li.unfolded {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/fold-dim.gif) no-repeat 0px 0.5em;
}
body.slidy ol.outline li.folded {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/unfold-dim.gif) no-repeat 0px 0.5em;
}
body.slidy ol.outline li.unfolded:hover {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/fold.gif) no-repeat 0px 0.5em;
}
body.slidy ol.outline li.folded:hover {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/unfold.gif) no-repeat 0px 0.5em;
}

body.slidy ul.outline li.nofold {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/nofold-dim.gif) no-repeat 0px 0.5em;
}
body.slidy ul.outline li.unfolded {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/fold-dim.gif) no-repeat 0px 0.5em;
}
body.slidy ul.outline li.folded {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/unfold-dim.gif) no-repeat 0px 0.5em;
}
body.slidy ul.outline li.unfolded:hover {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/fold.gif) no-repeat 0px 0.5em;
}
body.slidy ul.outline li.folded:hover {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/unfold.gif) no-repeat 0px 0.5em;
}

/* for slides with class "title" in table of contents */
body.slidy a.titleslide { font-weight: bold; font-style: italic }

/*
 hide images for work around for save as bug
 where browsers fail to save images used by CSS
*/
body.slidy img.hidden { display: none; visibility: hidden }
body.slidy div.initial_prompt { display: none; visibility: hidden }

body.slidy   div.slide {
     visibility: visible;
     position: inherit;
  }
body.slidy   div.handout {
     border-top-style: solid;
     border-top-width: thin;
     border-top-color: black;
  }

@media screen {
  body.slidy .hidden { display: none; visibility: visible }

  body.slidy div.slide.hidden { display: block; visibility: visible }
  body.slidy div.handout.hidden { display: block; visibility: visible }
  body.slidy div.background { display: none; visibility: hidden }
  body.slidy body.single_slide div.initial_prompt { display: block; visibility: visible }
  body.slidy body.single_slide div.background { display: block; visibility: visible }
  body.slidy body.single_slide div.background.hidden { display: none; visibility: hidden }
  body.slidy body.single_slide .invisible { visibility: hidden }
  body.slidy body.single_slide .hidden { display: none; visibility: hidden }
  body.slidy body.single_slide div.slide { position: absolute }
  body.slidy body.single_slide div.handout { display: none; visibility: hidden }
}

@media print {
  body.slidy .hidden { display: block; visibility: visible }

  body.slidy div.slide pre { font-size: 60%; padding-left: 0.5em; }
  body.slidy div.toolbar { display: none; visibility: hidden; }
  body.slidy div.slidy_toc { display: none; visibility: hidden; }
  body.slidy div.background { display: none; visibility: hidden; }
  body.slidy div.slide { page-break-before: always }
  /* :first-child isn't reliable for print media */
  body.slidy div.slide.first-slide { page-break-before: avoid }
}

